body {
  font-family: sans-serif;
  background-color: #7b7a7b;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  color: #ffffff;
  padding: 40px 0;
}

.light {
  color: black;
  font-size: 25vw;
}

.box-light {
  text-align: center;
}

.box-button {
  text-align: center;
}

button {
  width: 130px;
  height: 50px;
  margin: 0 3px;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: yellow;
}

.input-box {
  text-align: center;
  padding: 20px;
}

.input-box input {
  width: 30vw;
  padding: 5px;
  font-size: 20px;
  border: 1px solid black;
}
